pydng==1.1.2
# Pin markupsafe to avoid ImportError: cannot import name 'soft_unicode' from 'markupsafe' (/usr/local/lib/python3.7/site-packages/markupsafe/__init__.py) 
markupsafe==2.0.1
-e git+https://github.com/phovea/phovea_server.git@develop#egg=phovea_server
-e git+https://github.com/datavisyn/tdp_core.git@develop#egg=tdp_core
