-e git+https://github.com/phovea/phovea_security_flask.git@vstoiber/update_requirements#egg=phovea_security_flask
-e git+https://github.com/phovea/phovea_server.git@vstoiber/logging_behaviour_and_dependencies#egg=phovea_server
pydng==1.1.2